pe-flashcard {
    display: block;
    position: relative;
}

pe-flashcard-front,
pe-flashcard-back {
    all: inherit;
    position: absolute;
    backface-visibility: hidden;
}

pe-flashcard-front {
    z-index: 2;
}

pe-flashcard-back {
    z-index: 1;
}

pe-flashcard:not([effect]),
pe-flashcard[effect=""],
pe-flashcard[effect="none"] {
    &[flipped] pe-flashcard-front {
        display: none;
    }   
}

pe-flashcard[effect="fade"] {
    &[flipped] pe-flashcard-front {
        opacity: 0;
    }
}

pe-flashcard[effect="rotate-left"],
pe-flashcard[effect="rotate-right"],
pe-flashcard[effect="rotate-top"],
pe-flashcard[effect="rotate-bottom"]  {
    --front-rotate-y: 0;
    --front-rotate-x: 0;

    --back-rotate-y: 0;
    --back-rotate-x: 0;

    &[effect="rotate-left"] { 
        --front-rotate-y: .5turn;
        --back-rotate-y: -.5turn;
    }

    &[effect="rotate-right"] {
        --front-rotate-y: -.5turn;
        --back-rotate-y: .5turn;
    }

    &[effect="rotate-top"] {
        --front-rotate-x: -.5turn;
        --back-rotate-x: .5turn;
    }

    &[effect="rotate-bottom"] {
        --front-rotate-x: .5turn;
        --back-rotate-x: -.5turn;
    }

    pe-flashcard-back {
        transform: rotateX(var(--back-rotate-x)) rotateY(var(--back-rotate-y));
    }
    
    &[flipped] pe-flashcard-back {
        transform: rotateX(0) rotateY(0);
    }
    
    &[flipped] pe-flashcard-front {
        transform: rotateX(var(--front-rotate-x)) rotateY(var(--front-rotate-y));
    }
}