pe-flashcard {
    display: block;
    position: relative;
}

pe-flashcard-front,
pe-flashcard-back {
    all: inherit;
    position: absolute;
    backface-visibility: hidden;
}

pe-flashcard:not([rotate]):not([no-effect]) {
    pe-flashcard-back {
        display: none;
    }
    
    &[flipped] pe-flashcard-front {
        display: none;
    }
    
    &[flipped] pe-flashcard-back {
        display: inherit;
    }
}


pe-flashcard[rotate]:not([no-effect]) {
    --front-rotate-y: 0;
    --front-rotate-x: 0;

    --back-rotate-y: 0;
    --back-rotate-x: 0;

    &:not([rotate="right"]):not([rotate="top"]):not([rotate="bottom"]),
    &[rotate="left"] { 
        --front-rotate-y: .5turn;
        --back-rotate-y: -.5turn;
    }

    &[rotate="right"] {
        --front-rotate-y: -.5turn;
        --back-rotate-y: .5turn;
    }

    &[rotate="top"] {
        --front-rotate-x: -.5turn;
        --back-rotate-x: .5turn;
    }

    &[rotate="bottom"] {
        --front-rotate-x: .5turn;
        --back-rotate-x: -.5turn;
    }

    pe-flashcard-back {
        transform: rotateX(var(--back-rotate-x)) rotateY(var(--back-rotate-y));
    }
    
    &[flipped] pe-flashcard-back {
        transform: rotateX(0) rotateY(0);
    }
    
    &[flipped] pe-flashcard-front {
        transform: rotateX(var(--front-rotate-x)) rotateY(var(--front-rotate-y));
    }
}